.container {
    background-color: transparent;
    align-items: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    display: flex;
}

.left {
    float: left;
    background-color: #523592;
    border: 100px solid #523592;
}

.right{
    float: right;
    background-color: white;
    color: black;
    border: 100px solid white;
    height:842px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.container input {
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.left h5 {
    font-size: 36px;
}

.left p {
    font-size: 20px;
}

.left h6 {
    font-size: 24px;
}

.right h5 {
    font-size: 35px;
    color: #523592;
}